// main: site.less
@import "vars";
@import "mixins";

body.modern.home.index{

	.section-1-img {
		height: 645px;
		background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/rbsk_law_offices_home_cropped.jpg');
		width: 100%;
		background-size: cover;
		background-color: 000;
	}

	.section-6 {
	font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif;
	color: #777;
	}
	
	.home-link {
	color: #fff;
	}	

	.home-link:hover {
	opacity: 0.7;
	text-decoration: none;
	}

	.copy	{
		position:absolute;top:200px;left:0;width:100%;text-align:center;color:#fff;
	}



}
