// main: site.less
@import "vars";
@import "mixins";

body.modern.home.index{

	.section-1-img {
		height: 645px;
		background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/rbsk_law_offices_home_cropped.jpg');
		width: 100%;
		background-size: cover;
		background-color: 000;
	}

	.section-6 {
	font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif;
	color: #777;
	}
	
	.home-link {
	color: #fff;
	z-index:100;
	}	

	.home-link:hover {
	opacity: 0.7;
	text-decoration: none;
	}


	.home-icon-image {
	display:block;
	width:100%;
	height:auto;
	}

	.real-estate-icon {
	width: 150px;
	height: 100px;
	align:center;
	}

	.copy	{
		position:absolute;top:200px;left:0;width:100%;text-align:center;color:#fff;
	}


	.real-estate-icon-overlay {
	background: url('https://s3.us-east-2.amazonaws.com/rbsk/icons/real_estate_icon_hover2.png') no-repeat;
	background-size: 100px;
	position:absolute;
	top:0;
	bottom:0;
	left:40px;
	right:0;
	opacity: 0.1;
	height:100%;
	width:100%;
	overflow:hidden;
	transition: .5s ease;
	}

	.real-estate-icon:hover .real-estate-icon-overlay {
	opacity: 1;
	}
	
}
