<% content_for :browser_title do %>Our Team - Matthew H Beaulieu<% end %>
<div class="partners-headline">
    <div class="secondary-nav">
      <p><a href="/partners">Our Team of Professionals</a></p>
    </div>



    <div class="hidden-xs" style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane">

            <div class="bio-callout">
              <p>
                Matthew H. Beaulieu
              </p>
              <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;617.227.1044
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:mbeaulieu@bsklawoffices.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;mbeaulieu@bsklawoffices.com</a></p>
                </p>
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Matthew H. Beaulieu</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Matthew Beaulieu is known for his calm temperament, negotiating skills and his work in Probate Law. Practicing in the field for over 20 years, his clients include over 15 large hospitals in Eastern, MA. Matthew’s accomplishments involve settling multi-million dollar will contests, resolving contested trusts, forced removal of bad fiduciaries/protection of the disabled, more than a thousand cases to secure medical treatment or protect the rights of the injured/disabled, multiple cases involving end of life issues and Massachusetts supreme court cases involving disabled children’s right to counsel.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Trusts | Fiduciary Services | Probate Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Cum Laude</i> - Suffolk University Law School 1993</p>
          <p>MBA <i>Dean's List</i> - Boston College 1989</p>
          <p>B.S. Business Administration & Computer Science <i>Cum Laude</i> - St. Michael's College 1987</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p>

        </div>
      </div>
    </div>

  </div>


    <div class="visible-xs" style="width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div style="float:left;width:90%;height:auto;display:inline-block;margin:20px 0px;;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Matthew H. Beaulieu</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
					<p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;617.227.1044</p>
          <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:mbeaulieu@bsklawoffices.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;mbeaulieu@bsklawoffices.com</a></p>
          <p style="padding-top:20px;">Matthew Beaulieu is known for his calm temperament, negotiating skills and his work in Probate Law. Practicing in the field for over 20 years, his clients include over 15 large hospitals in Eastern, MA. Matthew’s accomplishments involve settling multi-million dollar will contests, resolving contested trusts, forced removal of bad fiduciaries/protection of the disabled, more than a thousand cases to secure medical treatment or protect the rights of the injured/disabled, multiple cases involving end of life issues and Massachusetts supreme court cases involving disabled children’s right to counsel.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Trusts | Fiduciary Services | Probate Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Cum Laude</i> - Suffolk University Law School 1993</p>
          <p>MBA <i>Dean's List</i> - Boston College 1989</p>
          <p>B.S. Business Administration & Computer Science <i>Cum Laude</i> - St. Michael's College 1987</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p>

        </div>
      </div>
    </div>

  </div>













</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

