  <div style="width:100%;position:relative;display:block;margin-top:140px;height:auto;">
    <div class="secondary-nav">
      <p><%= link_to("Our Team of Professionals", partners_path) %></p>
    </div>



    <div style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane carroll">

            <div class="bio-callout">
              <p>
		William S. Carroll
              </p>
              <!--p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;508.555.5555
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:wcarroll@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;wcarroll@rbsklaw.com</a></p>
                </p-->
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">William S. Carroll</p>
          <p style="font-size:24px;font-family:Oswald;">Of Counsel</p>
          <p>Attorney Carroll has over forty years of experience practicing law in the areas of health law, probate and elder care law.  While currently in private practice, Attorney Carroll has previously worked in both large firm settings and as in-house counsel  for acute care hospitals and medical service providers. Attorney Carroll is regularly in court seeking solutions for the  injured and incapacitated.  He is often consulted by peers on complicated medical/legal issues. Attorney Carroll has been a lecturer on behalf of the Massachusetts Hospital Association, the Massachusetts Bar Association and MCLE-NELI, Inc., on the issues of guardianships and health law.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Personal Injury | Guardianship & Conservatorship | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Moot Court Award</i> - Suffolk University Law School 1976</p>
          <p>B.S.<i>Cum Laude</i> - Assumption College 1971</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Speaking Engagements</p>
          <p>Guardianship Annual Update: MCLE October 2018 - Chair</p>
	  <p>Admission and Discharge October 1995</p>
	  <p>Nuts and Bolts of Guardianships, MBA Program December 1990</p>

        </div>
      </div>
    </div>

  </div>


</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

