  <div style="partners-headline">
    <div class="secondary-nav">
      <p><a style="color:#fff;text-decoration:none;" href="/partners">Our Team of Professionals</a></p>
    </div>



    <div class="hidden-xs" style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane hall">

            <div class="bio-callout">
              <p>
                Diane Geraghty Hall
              </p>
              <!--p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;508.555.5555
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:dhall@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;dhall@rbsklaw.com</a></p-->
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Diane Geraghty Hall</p>
          <p style="font-size:24px;font-family:Oswald;">Of Counsel</p>
          <p>Diane Geraghty Hall  has practiced law since 1990.  She is a recognized expert in the field of mental health law and has tried over 1,000 mental health commitment hearings during her career.  Geraghty Hall serves as a member of McLean Hospital’s Institutional Review Board, which reviews research protocols, quality care, and patient consent matters.  She also serves as an Adjunct Assistant Professor of Health Law at Boston University School of Public Health and provides annual training to residents in the psychiatry program at Boston University School of Medicine.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Mental Health Litigation | Patient Care Services </p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. - Suffolk University Law School 1990</p>
          <p>B.S. - Providence College 1982</p>

          <br>
          <!--p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p-->

        </div>
      </div>
    </div>

  </div>

    <div class="visible-xs" style="width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div style="float:left;width:90%;height:auto;display:inline-block;margin:20px 0px;;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Diane Geraghty Hall</p>
          <p style="font-size:24px;font-family:Oswald;">Of Counsel</p>
          <p>Diane Geraghty Hall  has practiced law since 1990.  She is a recognized expert in the field of mental health law and has tried over 1,000 mental health commitment hearings during her career.  Geraghty Hall serves as a member of McLean Hospital’s Institutional Review Board, which reviews research protocols, quality care, and patient consent matters.  She also serves as an Adjunct Assistant Professor of Health Law at Boston University School of Public Health and provides annual training to residents in the psychiatry program at Boston University School of Medicine.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Mental Health Litigation | Patient Care Services </p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. - Suffolk University Law School 1990</p>
          <p>B.S. - Providence College 1982</p>

          <br>
          <!--p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p-->

        </div>
      </div>
    </div>

  </div>










</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

