<% content_for :browser_title do %>Our Team - Heidi Kostin<% end %>
<div class="partners-headline">
    <div class="secondary-nav">
      <p><%= link_to("Our Team of Professionals", partners_path) %></p>
    </div>



    <div class="hidden-xs" style="height:800px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane kostin">

            <div class="bio-callout-kostin">
              <p>
                Heidi Kostin
              </p>
              <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;617.227.1044
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:hkostin@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;hkostin@rbsklaw.com</a></p>
                </p>
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Heidi Kostin</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
	  <p>Heidi is known for her work in guardianships and conservatorships, mental health litigation, wills and trusts, and probate matters. Heidi has extensive experience representing multiple hospital groups in the Boston area and beyond in issues related to civil commitments, guardianships and conservatorships. She a zealous advocate for those seeking protection of rights when injured or disabled. Heidi’s practice also extends to all aspects of estate planning and administration as well as estate and fiduciary litigation. An active member of the Southcoast community, Heidi serves on several local boards and participates in numerous community activities and programs.</p>	    

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Mental Health Litigation | Guardianship | Conservatorship | Patient Care Services | Estate Planning and Administration</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
	  <p>CALI Award in International Business Transactions 2005</p>
	  <p>Certified Mediator</p>
          <p>J.D. <i>Top 20 Rank</i> - Roger Williams University School of Law 2005</p>
          <p>B.A. Political Science & Russian Studies <i>Magna Cum Laude</i> - Wheaton College 2001</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Trustee of the Board for Southcoast Health System and Southcoast Hospitals Group</p>
	  <p>Board Member for Southcoast Health Financial and Quality Board Committees</p>
	  <p>Former Vice President of Yarmouth Ice Club</p>
          <p>Member of various other Southcoast Organizations</p>

        </div>
      </div>
    </div>

  </div>


    <div class="visible-xs" style="width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div style="float:left;width:90%;height:auto;display:inline-block;margin:20px 0px;;">
        <div class="bio-detail-right-pane">


          <p style="font-size:28px;font-family:Oswald;">Heidi Kostin</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
	  <p>Heidi is known for her work in guardianships and conservatorships, mental health litigation, wills and trusts, and probate matters. Heidi has extensive experience representing multiple hospital groups in the Boston area and beyond in issues related to civil commitments, guardianships and conservatorships. She a zealous advocate for those seeking protection of rights when injured or disabled. Heidi’s practice also extends to all aspects of estate planning and administration as well as estate and fiduciary litigation. An active member of the Southcoast community, Heidi serves on several local boards and participates in numerous community activities and programs.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Mental Health Litigation | Guardianship | Conservatorship | Patient Care Services | Estate Planning and Administration</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
	  <p>CALI Award in International Business Transactions 2005</p>
	  <p>Certified Mediator</p>
          <p>J.D. <i>Top 20 Rank</i> - Roger Williams University School of Law 2005</p>
          <p>B.A. Political Science & Russian Studies <i>Magna Cum Laude</i> - Wheaton College 2001</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Trust of the Board for Southcoast Health System and Southcoast Hospitals Group</p>
	  <p>Board Member for Southcoast Health Financial and Quality Board Committees</p>
          <p>Former Vice President of Yarmouth Ice Club</p>
	  <p>Member of various other Southcoast Organizations</p>

        </div>
      </div>
    </div>

  </div>
















</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>
