  <div class="partners-headline">
    <div class="secondary-nav">
      <p><%= link_to("Our Team of Professionals", partners_path) %></p>
    </div>



    <div class="hidden-xs" style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane kostin">

            <div class="bio-callout">
              <p>
                Heidi Kostin
              </p>
              <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;617.227.1044
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:hkostin@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;hkostin@rbsklaw.com</a></p>
                </p>
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Heidi Kostin</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Heidi is known for her work in guardianships and conservatorships, wills and trusts, development of estate plans and probate matters. Heidi has extensive experience representing major Boston area hospital groups in issues related to civil commitments, guardianships and conservatorships. She has represented numerous individuals seeking protection of rights when injured or disabled. Heidi also spent several years working in the field of probate and estate planning handling a wide assortment of family and tort matters. Heidi is and has been an active member to the tri-town community, serving on local boards and participating in numerous community activities and programs.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Guardianship | Conservatorship | Probate Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Top 20 Rank</i> - Roger Williams University School of Law 2005</p>
          <p>B.A. Political Science & Russian Studies <i>Magna Cum Laude</i> - Wheaton College 2001</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Southcoast Health System Quality Board Member</p>
          <p>Spanish and Russian language skills</p>

        </div>
      </div>
    </div>

  </div>


    <div class="visible-xs" style="width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div style="float:left;width:90%;height:auto;display:inline-block;margin:20px 0px;;">
        <div class="bio-detail-right-pane">


          <p style="font-size:28px;font-family:Oswald;">Heidi Kostin</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Heidi is known for her work in guardianships and conservatorships, wills and trusts, development of estate plans and probate matters. Heidi has extensive experience representing major Boston area hospital groups in issues related to civil commitments, guardianships and conservatorships. She has represented numerous individuals seeking protection of rights when injured or disabled. Heidi also spent several years working in the field of probate and estate planning handling a wide assortment of family and tort matters. Heidi is and has been an active member to the tri-town community, serving on local boards and participating in numerous community activities and programs.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Guardianship | Conservatorship | Probate Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Top 20 Rank</i> - Roger Williams University School of Law 2005</p>
          <p>B.A. Political Science & Russian Studies <i>Magna Cum Laude</i> - Wheaton College 2001</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Southcoast Health System Quality Board Member</p>
          <p>Spanish and Russian language skills</p>

        </div>
      </div>
    </div>

  </div>
















</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>
