
  <div class="partners-headline">
    <div class="secondary-nav">
      <p><a href="/partners">Our Team of Professionals</a></p>
    </div>



    <div class="hidden-xs" style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane saunders">

            <div class="bio-callout">
              <p>
                Brandon Saunders
              </p>
              <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;617.227.1044
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:bsaunders@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;bsaunders@rbsklaw.com</a></p>
                </p>
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Brandon Saunders</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Attorney Saunders has represented acute-care facilities, individuals, and surrogates in the areas of guardianship, conservatorship and civil commitment law for over 13 years and in more than 2,000 cases.  He is co-author of a comprehensive online training series on Guardianships and Health Care Proxies which is mandatory for physicians and other clinicians at several major Massachusetts hospitals.  Mr. Saunders is also a frequent lecturer and presenter on these and related issues.</p>
	  <p>Originally hailing from Asheville, NC, Attorney Saunders attended high school in Italy prior to becoming a Dean’s Scholar at the University of Montana.  He then received his Juris Doctorate, Cum Laude from Seattle University School of Law.  Since arriving in New England, Attorney Saunders has firmly established himself as an authority in the areas of Mental Health and Patient Care advocacy.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Guardianships | Conservatorships | Mental Health Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Cum Laude</i> - Seattle University School of Law</p>
          <p><i>Dean's Scholar</i> - University of Montana</p>

          <br>
          <!--p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p-->

        </div>
      </div>
    </div>

  </div>

    <div class="visible-xs" style="width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div style="float:left;width:90%;height:auto;display:inline-block;margin:20px 0px;;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Brandon Saunders</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Attorney Saunders has represented acute-care facilities, individuals, and surrogates in the areas of guardianship, conservatorship and civil commitment law for over 13 years and in more than 2,000 cases.  He is co-author of a comprehensive online training series on Guardianships and Health Care Proxies which is mandatory for physicians and other clinicians at several major Massachusetts hospitals.  Mr. Saunders is also a frequent lecturer and presenter on these and related issues.</p>
	  <p>Originally hailing from Asheville, NC, Attorney Saunders attended high school in Italy prior to becoming a Dean’s Scholar at the University of Montana.  He then received his Juris Doctorate, Cum Laude from Seattle University School of Law.  Since arriving in New England, Attorney Saunders has firmly established himself as an authority in the areas of Mental Health and Patient Care advocacy.</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Guardianships | Conservatorships | Mental Health Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
           <p>J.D. <i>Cum Laude</i> - Seattle University School of Law</p>
          <p><i>Dean's Scholar</i> - University of Montana</p>

          <br>
          <!--p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p-->

        </div>
      </div>
    </div>

  </div>













</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

