
  <div style="width:100%;position:relative;display:block;margin-top:140px;height:auto;">
    <div class="secondary-nav">
      <p><a href="/partners">Our Team of Professionals</a></p>
    </div>



    <div style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
          <div class="bio-detail-left-pane saunders">

            <div class="bio-callout">
              <p>
                Brandon Saunders
              </p>
              <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;508.555.5555
              </p>
              <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:hkostin@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;bsaunders@rbsklaw.com</a></p>
                </p>
              <p>
              </p>
            </div>
            <div style="width:300px;float:left;"></div>


            <div style="clear:both;margin-bottom:60px;"></div>

          </div>


        </div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
        <div class="bio-detail-right-pane">

          <p style="font-size:28px;font-family:Oswald;">Brandon Saunders</p>
          <p style="font-size:24px;font-family:Oswald;">Partner</p>
          <p>Brandon is known for representing acute care medical facilities in cases regarding incapacitated adults. He grew up in North Carolina and attended high school in Italy, college in Montana and law school in Seattle. Brandon has represented petitions in approximately 1,000 guardianship cases. </p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
          <p>Guardianships | Conservatorships | Mental Health Litigation | Patient Care Services</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
          <p>J.D. <i>Cum Laude</i> - University Year</p>
          <p>Undergrad <i>Cum Laude</i> - University Year</p>

          <br>
          <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
          <p>Community Involvement Activities</p>

        </div>
      </div>
    </div>

  </div>


</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

