<div style="width:100%;position:relative;display:block;margin-top:140px;height:auto;">
  <div class="secondary-nav">
    <p>Terms & Definitions</p>
  </div>
  

  <div style="height:400px;background: url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_courthouse.jpg');background-size:cover;border-bottom:60px solid #112a55;">
  </div>

  <div style="clear:both;"></div>
  
  <div style="width:100%">
    

    <div id="terms-list" class="terms">
      <div style="padding-left:60px;padding-right:60px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;">
        <p style="font-size:28px;text-transform:uppercase;">Terms & Definitions<br><br></p>
        <p>
          <div class="term-label">
            <a href="javascript:void(0);">Conservator</a>
            <div class="term-description">
              <p>An individual appointed by the Court to manage property, financial and business affairs of an individual who is unable to make or communicate informed decisions.</p>
            </div>
          </div>
        </p>
        <p>
          <div class="term-label">
            <a href="javascript:void(0);">Guardian</a>
            <div class="term-description">
              <p>An individual appointed by the Court to make medical and health care related decisions for an individual who is unable to make or communicate informed decisions.</p>
            </div>
          </div>
        </p>
        <p>
          <div class="term-label">
            <a href="javascript:void(0);">Health Care Proxy</a>
            <div class="term-description">
              <p>A legal document which can be executed by any competent adult which will avoid the need for appointment of a guardian. All individuals are encouraged to execute a health care proxy.
            </div>
          </div>
        </p>

        <p>
          <div class="term-label">
            <a href="javascript:void(0);">Power of Attorney</a>
            <div class="term-description">
              <p>Authority to act for another person in specified or all legal or financial matters. They are often used in connection with the sale of real estate if one or more of the parties to the transaction is unavailable.</p>
            </div>
          </div>
        </p>
      </div>
      
    </div>
    
    
    <div style="clear:both;"></div>
    

    </div>
  
  <div style="clear:both;"></div>

  <div style="width:100%;background:#112a55;height:60px;"></div>
  
</div>

  <div style="width:100%;height:10px;background:#c89f42;">
  </div>


  <script>
    $(document).ready(function(){

    $(".term-label").click(function() {
      $(this).children(".term-description").toggle("slow");
    });  

});

</script>
