  <div style="width:100%;position:relative;display:block;margin-top:140px;height:auto;">
    <div class="secondary-nav">
      <p><a href="practices">Practice Areas</a></p>
    </div>


    <div style="width:100%;height:460px;background: url('https://s3.us-east-2.amazonaws.com/rbsk/images/senior_couple.jpg');background-size:cover;background-position: 25% 20%;border-bottom:60px solid #112a55;">

      <div style="width:100%;font-family:Oswald;color:#fff;padding-right:0px;padding-top:180px;text-align:right;">
        <div style="background:#333;opacity:0.7;padding-right:80px;padding-top:6px;padding-bottom:6px;">
          <p style="font-family:Oswald;font-size:32px;line-height:1.3em;">Your Needs May Be Changing.<br>We Can Help You Stay Prepared.</p>
          </div>

      </div>
    </div>

    <div style="clear:both;"></div>


    <!--span class="circle"></span-->
    <div style="width:100%">



      <div id="services-offered" class="service-group">
        <div style="padding-left:100px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;">
          <p style="font-size:28px;font-family:Amiri;color:#08152b;">Not Sure What You Need Now? Let Us Help You Review Your Plans.<br><br></p>

          <div style="width:80%;">

            <p class="area-detail">At RBSK Law Offices we are committed to serving seniors in our community.  We understand that at this stage in life there can be many questions and concerns.</p>
            <p class="area-detail">We want to take the time to listen to what you have to tell us and to answer any questions you may have. If we believe that we can help you move toward your goals we will take the time to explain how and why working with us could be beneficial. Estate planning and gifting, real estate services and elder protective services are areas where we may be able to help you.
            </p>
            <p class="area-detail">We are also here to answer any general questions you may have about your life, health or property.  Not sure what you need? Call anyway. If we cannot help we will direct you to someone who can better meet your needs.</p>

            <p class="area-section">Estate Planning & Gifting</p>
            <p class="area-detail">We recommend that all of our clients establish at least a basic estate plan. This includes a Last Will and Testament, a Power of Attorney and a Health Care Proxy (with Living Will). A Will sets forth your instructions as to what happens to your property after you pass.  A Power of Attorney is a document used to name someone who will take care of your bank accounts and other assets during your lifetime if you become unable to do so yourself or if you would prefer delegating the bill paying to someone else. A Health Care Proxy (with Living Will) is by far the most important estate planning document. You can use a Health Care Proxy to name an individual who will make medical treatment decisions for you in the event you became unable to do so yourself.  With a Living Will attached, you can give instructions as to what type of medical treatments you want and what types you do not want in the event of accident or serious injury.</p>
            <p class="area-section">Real Estate Services</p>
            <p class="area-detail">We can help Seniors with questions concerning their homes and other real estate. If you are considering downsizing your home or moving to a warmer environment we can assist with the sale or purchase of your Massachusetts real estate.</p>
            <p class="area-detail">If you plan on staying in your home we can assist with a Declaration of Homestead.  As part of an estate planning discussion, we can help with gifting real estate, real estate trusts and life estates.  We can also help if you are considering Assisted Living or a Skilled Nursing Facility.</p>
            <p class="area-section">Elder Protective Services</p>
            <p class="area-detail">We have many years of experience working to protect seniors who are being abused, neglected or financially exploited. We start with an overall assessment of the situation.</p>
            <p class="area-detail">As necessary, we can move quickly, often utilizing the court system, to remove bad actors and, as necessary, obtain the assistance of trusted individuals who can help with care of the senior and management of the senior’s assets. We then evaluate options to recover or restore assets.</p>


          </div>


        </div>

      </div>

      <div class="service-menu">
        <div style="margin-top:60px;">
          <p class="right-nav-heading">Who We Serve</p>
          <p class="right-nav-item"><a href="attorneys">Attorneys</a></p>
          <p class="right-nav-item"><a href="health-care-providers">Health Care Providers</a></p>
          <p class="right-nav-item"><a href="families">Families</a></p>
          <p class="right-nav-item"><a href="new-adults">New Adults</a></p>
          <p class="right-nav-item right-nav-item-active"><a href="seniors">Seniors</a></p>
          <p class="right-nav-item"><a href="service-members">Service Members</a></p>
        </div>
      </div>


    </div>

    <div style="clear:both;"></div>

    <div style="width:100%;background:#112a55;height:60px;"></div>

  </div>



  <div style="width:100%;height:10px;background:#c89f42;">
  </div>
