@import "vars";
@import "mixins";
@import "site/fonts";
@import "site/elusive-webfont";
@import "site/traditional";
@import "menus";
@import "forms";
@import "header";
@import "site/controllers/home.less";
@import "site/controllers/partners.less";
@import "site/controllers/practices.less";
@import "site/controllers/contact.less";

body	{
	height: 100%;
  font-family: @primary-font;
  color: #777;
  overflow-x: hidden;
  max-width: 100%;
  padding-top: 0px;

	.headline	{
		font-size: 42px; 
		font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif; 
		font-weight: 400; 
		text-transform: uppercase; 
		line-height: 42px; 
		margin: 0 0 10px;

		span {
			max-width: 800px;
		}
	}

	.side-copy {
		position: absolute; left: 25%; top: 400px; width: 50%; padding: 20px 40px; background: rgba(255,255,255,0.6); text-align:center; border-radius: 6px;
	}

	.section-2	{
		background:#C89F43;padding-top:50px;padding-bottom:50px;
	}

	.brand {
		line-height:1.1em;padding: 0 0 10px; font-size: 45px; font-weight:400; font-family: 'gotham_lightregular',Arial,Helvetica,sans-serif;color: #fff;
	}

	.section-5	{
		position: relative;
	}

	.our-services	{
		top: 50%;margin-top:-180px;text-align:center;color:#fff;position:absolute;text-align:center;width:100%;
	}

	.what-we-do {
		max-width:1100px; margin: 60px auto 0;
	}

	.view-platform-details {
		text-align:center;padding: 50px 0;
	}

	.section-6	{
		background:#fff; padding: 50px 0px;text-align:center;
	}

	.section-6 > p {
		max-width:800px;text-align:center;margin:0px auto;
	}

	.practices-headline	{
		width:100%;position:relative;display:block;margin-top:140px;height:auto;
	}

	.offerings	{
		padding-left:100px;
		padding-top:60px;
		font-family:Oswald;
		font-size:21px;
		line-height:1.6em;
	}

	.people-served {
		padding-left:60px;padding-right:60px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;
	}

	.btn {
		height:40px;
		line-height:40px;
		padding: 0 30px;
		font-size:16px;
	}

	.btn-primary-blue-inverse {
		color: #193d7d;
		background-color: #fff;
		border-color: #193d7d;
		padding: 10 60px;

	}

	.btn-primary-blue-inverse:hover,.btn-primary-blue-inverse:focus,.btn-primary-blue-inverse:active,.btn-primary-blue-inverse.active,.open > .dropdown-toggle.btn-primary-blue-inverse {
    	color: #fff;
        background-color: #193d7d;
	    border-color: #193d7d;
	}

	.btn-primary {
		background:#ca9f43;
		border-color:#ca9f43;
	}

	.btn.btn-primary:hover{
		background:#d2ae60;
		border-color:#ca9f43;
	}

	.global-header {
		background-color: #fff;
		display: block;
		top: 0;
		width: 100%;
		position: fixed;
		z-index:1000;
	
		.global-header-inner {
			background: #fff;
			-moz-box-shadow: 0 0 4px rgba(0,0,0,0.5);
    	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
    	box-shadow: 0 0 4px rgba(0,0,0,0.5);
			height:130px;
			transition: 0.4s;
			border-bottom: 2px solid #ca9f43;

			.header-wrapper {
	  		max-width: 1600px;
    		position: relative;
				height: 130px;
				transition: 0.4s;
			}

			.header-logo	{
				margin: 0;
				max-width: 100px;
				position: absolute;
				top: 0;
				height: 130px;
				transition: 0.4s;
			}

			.header-logo img {
				height: 100%;
			}

		}

		.traditional {
			border-bottom: 1px solid #cc1100;
		}

		.global-header-inner.smaller, .header-wrapper.smaller, .header-logo.smaller	{
			height: 64px;
			transition: 0.4s;
		}

		.top-nav {
			top: 26%;
			transition: 0.4s;
		}
		.top-nav.smaller {
			top: 0;
			transition: 0.4s;
		}

	}

	.main-menu {
		text-align: right;
		line-height:130px;
		margin-right: 30px;
	}

	.bio-pane {
		min-height:300px;
		background-color: #fff;
		border: 1px solid #cccccc;
		margin:10px;

		.bio-photo {
			background-size: cover;
			width:100%;
		}

		.bio-blurb {
		}

	}

	.navigation-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navigation-item {
		display: inline-block;
		padding: 0px 16px;
	}

	.navigation-item a {
		color: #14203b;
		font-weight: bold;
		position: relative;
		text-decoration: none;
	}

	.navigation-item a::after {
		background-color: #ca9f43;
    bottom: -1.5rem;
    content: "";
    height: 5px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(-50%) scaleX(.9);
    transform: translateY(-50%) scaleX(.9);
    transition: .2s ease-in;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    width: 100%;
    will-change: opacity,transform;
	}

	.main-menu.smaller { 
		line-height:64px; 
		transition: 0.4s;
	}

	.main-body {
		margin: 20px 0px;
	}

	.bgimg-2, .bgimg-3 {
  	position: relative;
  	opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	}


        .hero-traditional {
	 	margin-top:-100px;
  	background-image: url("https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/home_bg_light.png");
		min-height:760px;
		background-size:cover;

		.hero-logo {
			position: absolute;
			height:200px;
			left: 0;
			//top: 35%;
      			margin-top: -100px;
      			width: 100%;
      			text-align: center;
		}


		.caption {
    			 position: absolute;
    			 left: 0;
			 top: 250px;
    			 //top: 35%;
			 margin-top: -100px;
    			 width: 100%;
    			 text-align: center;
    			 color: #fff;
			 font-size: 48px;
		}


		.hero-callout-traditional {
                  top: 320px;
    		  box-shadow: 5px 10px 20px -7px rgba(26,26,26,.4);
	          position: absolute;
		  left: 0;
		  right: 0;
		  margin-left: auto;
		  margin-right: auto;
    		  width: 60%;
    	//background-color: #8B2011;
	background-color: #666;
    	background-size: 100%;
    	padding: 2.5rem;
    	text-align: center;
    	z-index: 1;

			h2 { padding-top: 0px; margin-top: 0px; }
			p {
			font-size: 16px;
			font-weight:normal;
			line-height:1.6em;

			.button {
    		background-color: #990d00;
    		border-radius: 2px;
    		border: 2px solid #990d00;
    		color: #fff;
    		cursor: pointer;
    		display: inline-block;
    		font-size: 1.1rem;
    		font-weight: 500;
    		line-height: 1.5;
    		letter-spacing: .15em;
    		padding: 1.5rem 3.0rem;
    		text-align: center;
    		text-transform: uppercase;
    		transition-property: color,background-color,border-color;
				text-decoration: none;
			}


			}
   		}


	}	


	.hero {
		margin-top: -100px;
  	        background-image: url("https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/home_bg_light_web.png");
  	        min-height: 1000px;
		background-size: cover;	
		
		.hero-logo {
			position: absolute;
			height:200px;
			left: 0;
      //top: 35%;
      margin-top: -100px;
      width: 100%;
      text-align: center;
		}

		.caption {
    	position: absolute;
    	left: 0;
			top: 250px;
    	//top: 35%;
	margin-top: -100px;
    	width: 100%;
    	text-align: center;
    	color: #000;
	font-size: 48px;
		}


		.hero-callout {
    	//top: 85%;
				top: 400px;
    				box-shadow: 5px 10px 20px -7px rgba(26,26,26,.4);
			    	position: absolute;
    	//-webkit-transform: translate3d(-50%,50%,0);
    	//transform: translate3d(-50%,50%,0);
			//margin: 0px auto;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			//backface-visibility: hidden;
    				width: 60%;
				color:#303030;
    	background-color: #f0f0f0;
    	background-size: 100%;
    	padding: 4.5rem;
    	text-align: center;
    	z-index: 1;

			h2 { padding-top: 0px; margin-top: 0px; }
			p {

			font-size: 16px;
			font-weight:normal;
			line-height:1.6em;

			.button {
    		//background-color: #ca9f43;
		background-color: #1A3D7D;
    		border-radius: 2px;
    		border: 2px solid #1a3d7d;
    		color: #fff;
    		cursor: pointer;
    		display: inline-block;
    		font-size: 1.1rem;
    		font-weight: 500;
    		line-height: 1.5;
    		letter-spacing: .15em;
    		padding: 1.5rem 3.0rem;
    		text-align: center;
    		text-transform: uppercase;
    		transition-property: color,background-color,border-color;
				text-decoration: none;
			}
		}

		}


		.hero-callout-traditional {
                  top: 220px;
    		  box-shadow: 5px 10px 20px -7px rgba(26,26,26,.4);
	          position: absolute;
		  left: 0;
		  right: 0;
		  margin-left: auto;
		  margin-right: auto;
    		  width: 60%;
    	background-color: #f0f0f0;
    	background-size: 100%;
    	padding: 4.5rem;
    	text-align: center;
    	z-index: 1;

			h2 { padding-top: 0px; margin-top: 0px; }
			p {
			font-size: 16px;
			font-weight:normal;
			line-height:1.6em;
		        }
   		}



	}





      .button {
        background-color: #ca9f43;
        border-radius: 2px;
        border: 2px solid #ca9f43;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: .15em;
        padding: 1.5rem 3.0rem;
        text-align: center;
        text-transform: uppercase;
        transition-property: color,background-color,border-color;
        text-decoration: none;

				&:after {
      .icon-style();
      content: "\e71e";
      display:inline-block;
      margin-right: 5px;
      margin-left: 5px;
      position: relative;
      top: 2px;
      font-size:18px;
      color: #fff;

				}

      }


      .button-traditional {
        background-color: #990d00;
        border-radius: 2px;
        border: 2px solid #990d00;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: .15em;
        padding: 1.5rem 3.0rem;
        text-align: center;
        text-transform: uppercase;
        transition-property: color,background-color,border-color;
        text-decoration: none;

				&:after {
      .icon-style();
      content: "\e71e";
      display:inline-block;
      margin-right: 5px;
      margin-left: 5px;
      position: relative;
      top: 2px;
      font-size:18px;
      color: #fff;

				}

      }


      .button-dark {
        background-color: #c99e51;
	//background-color:#1A3D7D;
        border-radius: 2px;
        border: 2px solid #c99e51;
	//border: 2px solid #1A3D7D;
        color: #fff;
	z-index:30;
        cursor: pointer;
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 1000;
        line-height: 2.5;
        letter-spacing: .15em;
        padding: 2.5rem 5.0rem;
        text-align: center;
        text-transform: uppercase;
        transition-property: color,background-color,border-color;
        text-decoration: none;
      }

	.bgimg-2 {
  	background-image: url("https://s3.us-east-2.amazonaws.com/rbsk/images/team_image.jpg");
  	min-height: 600px;
	}

	.bgimg-3 {
  	background-image: url("https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg");
  	min-height: 600px;
	}

	/* Turn off parallax scrolling for tablets and phones */
	@media only screen and (max-device-width: 1024px) {
  	.bgimg-1, .bgimg-2, .bgimg-3 {
    	background-attachment: scroll;
  	}
	}

	.caption {
  	position: absolute;
  	left: 0;
  	top: 50%;
  	width: 100%;
  	text-align: center;
  	color: #fff;
	}

	h3 {
  	letter-spacing: 5px;
  	text-transform: uppercase;
  	font: 20px "Lato", sans-serif;
  	color: #111;
	}


	.disclaimer-header {
	width:100%;
	max-width:100%;
	height: 80px;	
	padding-top: 14px;
	text-align: left;
	margin: 0px auto;
	background: #08152b;
	border-bottom: 4px solid #c89f42;
	box-shadow: inset 0px 0px 50px 20px #193d7d;
	  a { color: #fff; }  
	  a:hover { text-decoration: none; }
	}

	.disclaimer-header > p {
	font-family: Oswald;
	font-size: 32px;
	color: #fff;
	text-align: left;
	margin-left: 60px;
	}

	.disclaimer-copy {
	width:80%;
	padding:60px;
	font-family:Oswald;
	font-size:21px;
	}


	.footer-nav {
		a { color: #777;
		    font-size:14px;}

	        a:hover {
		  color: #193d7d;
		}



	}



	.footer-wrap, .footer-nav {
    margin: 0 0 12px;
    padding: 0;
	}
	.footer-wrap {
    background-color: #F6F6F6;
    padding: 80px 0;
    text-align: center;
		color: #777;
	}


	.footer-nav > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 30px 30px;
    //font-weight: 200;
    line-height: 1.5em;
    margin: 0 0 10px;
		//letter-spacing: 1px;
		margin: 0 0 10px;
    font-size: 16px;
		display: inline-block;
		padding: 0 50px 30px;
		font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif;
	}

	.footer-nav h3 {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 400;
		color: #777;
		padding-bottom: 2px;
		border-bottom: solid 1px #ccc;

		a:hover { text-decoration: none; }
		
	}

	.social-links {

    width: 650px;
    max-width: 95%;
    margin: 0 auto;
    border-top: solid 1px #CCC;
    padding: 20px 0;
    text-align: center;

	}

	.paralellogram {
		display: inline-block;
	}
	.parallelogram {
    //-webkit-transform: translateX(50%) skewX(-18deg); 
    //transform: translateX(50%) skewX(-18deg);
	}

	.parallelogram:before {
		content: "// ";

	}

	.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
		background-color:#fff;
	}
	.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
		background-color:#fff;
	}
	.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
		background-color:#fff;
	}
	.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
		background-color:#fff;
	}
	.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
		background-color:#fff;
	}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 770px) {
    .navbar-toggle {
        display: none;
    }
}
	
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media (min-width: 770px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: @screen-xs-max) {

	.copy {
		top: 100px !important;
	}

	.side-copy {
		top: 300px;
		left: 5%; 
		width: 90%; 	
		padding: 20px; 
	}

	.navbar-brand	{
		padding: 5px;
	}

	.navbar-brand > img {
		height: 50px;
	}

	.section-2	{
		padding-top:0px;padding-bottom:50px;
	}

	.section-5  {
		margin-top:30px;
	}

	.our-services {
		top: 27%;
		position:absolute;
		width:100%;
	}

	.what-we-do {
		max-width:1100px; margin: 0px auto 0;
	}

	.view-platform-details {
		padding:0px;
		padding-top:10px;
	}

  .section-6  {
    padding: 20px 0px;
  }

	.section-6 > p {
		width:90%;	
	}

	.footer-wrap {
		padding-top:40px;
	}

	.footer-nav > div {
		text-align: center;
	}

	.copyright	{
		width:90%;
		margin: 0 auto;
	}

	.practices-headline	{
		margin-top:50px;
	}

	.services	{
		width: 100% !important;
		min-height: 300px !important;
	}
	.service-type	{
		width: 90%;
	}
	.offerings {
		padding-left:50px;
	}

	.people	{
		width: 100% !important;
	}

	#people-served	{
		min-height: 300px !important;

	}
	.people-served {
		padding-left: 0px;
		padding-right: 30px;
		min-height: 300px !important;
	}

	.service-description	{
		margin-left: 0px;
		margin-right: 0px;

	}

}

@media (max-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}



	.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
	}

	.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
	}

}
